/*
    system
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', san-serif;
    font-size: 16px;
    box-sizing: border-box;
    /*color:#434343*/
}

*:focus {
    outline: none;
}

img {
    vertical-align: middle;
    max-width: 100%
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

.clear10 {
    clear: both;
    height: 10px
}

.clear20 {
    clear: both;
    height: 20px
}

.clear50 {
    clear: both;
    height: 50px
}

.clear100 {
    clear: both;
    height: 100px
}

.list_ngang li {
    list-style: none;
    display: inline-block;
    float: left;
}

.list_doc li {
    list-style: none;
    display: block
}

h3 {
    font-size: 90%;
}

a {
    text-decoration: none;
    color: #000
}

.tj {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

.tc {
    text-align: center
}

.vien_hinh {
    border: 4px solid #fff!important;
    outline: 1px solid #d3d2d2;
}

.bo5 {
    border-radius: 5px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mt10 {
    margin-top: 10px
}

.mb {
    margin-bottom: 5px
}

.ngay {
    font-style: italic;
    font-size: 12px;
    color: #666;
    margin-top: 5px
}

.w650 {
    max-width: 640px;
    margin: auto;
}

/*New*/


/*.w650>section>div>div>a>img{
    width: 50%;
}*/
/*End*/

.banner {
    position: relative;
}

.banner>img {
    width: 100%;
}

.sb {
    box-shadow: 0 4px 4px -2px #999
}

.hl {
    color: red;
    font-size: 120%;
    white-space: nowrap;
    font-weight: bold
}

.vta {
    display: -ms-flexbox!important;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: -webkit-box!important;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
}

.blink_me2 {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

footer {
    position: relative;
    /*margin:5% 0 18% 0*/
    ;
    padding-bottom: 1%;
    min-height: 50px;
    background: #9c27b0
}

footer>.mapimg {
    width: 100%;
    position: relative;
    min-height: 50px
}

/*footer>.mapimg>.changemap1 {
    width: 10%;
    padding-bottom: 5%;
    top: 50%;
    bottom: 0;
    margin: auto;
    left: 2%;
    background: url(../img/icon/abc1.png)no-repeat;
    background-size: 100%;
    position: absolute;
    min-height: 50px;
}*/

footer>.address {
    position: absolute;
    background: #9c27b0;
    width: 80%;
    float: left;
    /*margin:5% 0 18% 0*/
    ;
    padding-bottom: 1%;
    min-height: 50px;
    left: 0;
    top: 0;
    z-index: 1
}

/*.changemap {
    width: 10%;
    padding-bottom: 5%;
    top: 50%;
    bottom: 0;
    margin: auto;
    right: 2%;
    background: url(../img/icon/abc.png)no-repeat;
    background-size: 100%;
    position: absolute;
    min-height: 50px;
}*/

footer>.address>img.logo {
    display: block;
    margin: 2% auto;
    width: 70%
}

footer>.address>ul {
    padding: 0px;
    margin: 0;
    list-style: none;
}

footer>.address>ul>li {
    width: 70%;
    margin: 3% auto;
    min-height: 30px
}

footer>.address>ul>li>img {
    width: 15%;
    float: left;
    height: auto
}

footer>.address>ul>li:first-child>img {
    width: 9%;
    float: left;
    min-height: 30px;
}

footer>.address>ul>li>p {
    width: 80%;
    float: right;
    min-height: 30px;
    color: #fff
}

.delay {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

header {
    height: 13vw;
    max-height: 60px;
    position: relative
}

header>.gioithieu {
    display: block;
    position: absolute;
    padding: 1% 2%;
    right: 16%;
    top: 23%;
}

/*header>.social {
    width: 26%;
    height: 13vw;
    max-height: 60px;
    position: relative;
    float: left;
    padding: 2% 0;
    background-color: #9c27b0;
    border-radius: 20px;
    background: url(../img/icon/purplesocial.png)no-repeat center;
    background-size: auto 65%;
    margin: 0% 1%;
}*/

header>.social{
    width: 26%;
    height: 13vw;
    max-height: 60px;
    position: relative;
    float: left;
    padding: 2% 0;
    border-radius: 20px;
    background-size: auto 65%;
    margin: 0% 1%;
}

/*header>.social:hover {
    background-color: #9c27b0;
    background: url(../img/black2social.png)no-repeat center;
}*/

/*header>.social>a.fb {
    display: block;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}*/

/*header>.social>a.tw {
    display: block;
    width: 40%;
    position: absolute;
    left: 22%;
    top: 0;
    bottom: 0
}
*/
/*header>.social>a.gplus {
    display: block;
    width: 40%;
    position: absolute;
    left: 65%;
    top: 0;
    bottom: 0
}*/

header>.vach3 {
    display: block;
    float: right;
    width: 9%;
    position: relative;
    background-size: 80%;
    padding: 1% 0;
}


/*header>.vach3:hover {
    background: url(../img/icon/Black3vachmobile.png)no-repeat;
    background-size: 100%;
    margin: 3% 1%;
    position: relative;
}*/

/*header>.vach3:before {
    content: '';
    width: 1px;
    height: 100%;
    background: #9c27b0;
    position: absolute;
    left: -15%;
    top: -15%
}*/

.formtuvanhome {
    padding: 2% 3%
}

.formtuvanhome>form {
    padding: 3% 4%;
    border: 2px solid #9c27b0
}

.formtuvanhome>form>h2 {
    color: #434343;
    font-weight: normal;
    font-size: 98%;
    letter-spacing: 0.8px;
    font-weight: 600
}

.formtuvanhome>form>.inputsdt {
    width: 100%;
    margin: 2% auto;
    padding: 2%;
    border: 1px solid #c4c4c4;
}

.formtuvanhome>form>.areanoidung {
    width: 100%;
    margin: 2% auto;
    padding: 2%;
    height: 15vw;
    max-height: 130px;
    resize: none;
    border: 1px solid #9c27b0
}

.formtuvanhome>form>.btnform {
    margin: 0 auto;
    padding: 2% 4%;
    float: right;
    background: #9c27b0;
    border: 0px;
    color: #fff
}

.inputsdt::-webkit-input-placeholder {
    color: #434343;
    opacity: 1;
}

.inputsdt:-moz-placeholder {
    color: #434343;
    opacity: 1;
}

.inputsdt::-moz-placeholder {
    color: #434343;
    opacity: 1;
}

.inputsdt:-ms-input-placeholder {
    color: #434343;
    opacity: 1;
}

.areanoidung::-webkit-input-placeholder {
    color: #434343;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
}

.areanoidung:-moz-placeholder {
    color: #434343;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

.areanoidung::-moz-placeholder {
    color: #434343;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

.areanoidung:-ms-input-placeholder {
    color: #434343;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}



.thuvien {
    padding: 2% 2%;
}

.thuvien>h2 {
    font-size: 95%;
    letter-spacing: 1px;
    color: #9c27b0;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
}

.thuvien>h2:after {
    content: '';
    color: #9c27b0;
    margin-left: 1.5%;
    font-size: 98%;
    position: absolute;
    letter-spacing: 3px;
    background: url(../img/before/violetxemthem.png)no-repeat;
    background-size: 100%;
    background-position: 0 70%;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 4vw;
    max-height: 20px
}

.thuvien>h2:before {
    content: '';
    background: #9c27b0;
    bottom: -5%;
    position: absolute;
    height: 3px;
    width: 15%;
}

.chuyenkhoa {
    /*padding: 2% 2%;*/
    /* background-color: #007F46;*/
}

.chuyenkhoa>h2 {
    font-size: 95%;
    letter-spacing: 1px;
    color: #9c27b0;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
}


/*.chuyenkhoa>h2:after {
    content: '';
    color: #9c27b0;
    margin-left: 1.5%;
    font-size: 98%;
    position: absolute;
    letter-spacing: 3px;
    background: url(../img/before/violetxemthem.png)no-repeat;
    background-size: 100%;
    background-position: 0 70%;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 4vw;
    max-height: 20px
}*/


/*.chuyenkhoa>h2:before {
    content: '';
    background: #9c27b0;
    bottom: -22%;
    position: absolute;
    height: 1.5px;
    width: 15%;
}*/

.chuyenkhoa>ul {
    padding: 0px 1%;
    margin: 2% 0px;
    width: 100%;
    min-height: 10vw;
    list-style: none;
}

.chuyenkhoa>ul>li {
    width: 45%;
    padding: 2%;
    min-height: 5vw;
    float: left;
    margin: 5% 2%;
    position: relative;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 7px 7px #9c27b0;
}

.chuyenkhoa>ul>li:hover {
    box-shadow: 7px 7px #FFD700;
}



/*New*/

.chuyenkhoa>ul>li>a>div>img:hover {
    border: 3px solid #FFD700;
    border-radius: 200px;
}

.chuyenkhoa>ul>li>a {
    /*display: block;*/
    height: 100%;
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: 85%;
    position: relative;
}

.chuyenkhoa>ul>li>a>p {
    font-size: 102%;
}

.chuyenkhoa>ul>li>a>div>img {
    border: 1px solid #9c27b0;
    border-radius: 200px;
}

.chuyenkhoa>ul>li>a>.img {
    width: 40%;
    /*margin: 10% auto;*/
}


/*.chuyenkhoa>ul>li:nth-child(2)>a>.img {
    width: 67%;
}*/

.chuyenkhoa>ul>li>a>.img>img {
    /*max-width: 100%;*/
}

.trieuchungbenh {
    padding: 2% 3%;
}

.trieuchungbenh>h2 {
    font-size: 95%;
    letter-spacing: 1px;
    color: #9c27b0;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
}

.trieuchungbenh>h2:after {
    content: '';
    color: #9c27b0;
    margin-left: 1.5%;
    font-size: 98%;
    position: absolute;
    letter-spacing: 3px;
    background: url(../img/before/violetxemthem.png)no-repeat;
    background-size: 100%;
    background-position: 0 70%;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 4vw;
    max-height: 20px
}

.trieuchungbenh>h2:before {
    content: '';
    background: #9c27b0;
    bottom: -22%;
    position: absolute;
    height: 1.5px;
    width: 15%;
}

.trieuchungbenh>.trieuchungul>.trieuchungli {
    width: 48%;
}

.trieuchungbenh>.trieuchungul>.trieuchungli>a>h3 {
    color: #9c27b0;
    font-weight: normal;
    margin: 1% auto;
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.ngaydang {
    margin: 2% 0px;
    clear: both
}

.trieuchungbenh>.trieuchungul>.trieuchungli>p.tomtat {
    text-align: justify;
    margin: 1.5% auto;
    font-size: 85%;
    color: #374456
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.ngaydang>p.date {
    border: 1px solid #9c27b0;
    padding: 1% 2%;
    margin-right: 4%;
    float: left;
    font-size: 85%
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.ngaydang>p.luotxem {
    border: 1px solid #9c27b0;
    padding: 1% 2%;
    background: url(../img/icon/iconxem.png)no-repeat;
    background-size: 40%;
    background-position: 3% 50%;
    padding-left: 10%;
    float: left;
    font-size: 85%
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.tags {
    margin: 1% 0;
    font-size: 85%
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.tags>a {
    font-size: 98%;
    color: #9c27b0;
    margin: 0 1.5%
}

.cacphuongphap {
    padding: 2% 2%;
}

.cacphuongphap>h2 {
    font-size: 95%;
    letter-spacing: 1px;
    color: #9c27b0;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
}

.cacphuongphap>h2:after {
    content: '';
    color: #9c27b0;
    margin-left: 1.5%;
    font-size: 98%;
    position: absolute;
    letter-spacing: 3px;
    background: url(../img/before/violetxemthem.png)no-repeat;
    background-size: 100%;
    background-position: 0 70%;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 4vw;
    max-height: 20px
}

.cacphuongphap>h2:before {
    content: '';
    background: #9c27b0;
    bottom: -22%;
    position: absolute;
    height: 2px;
    width: 15%;
}

.cacphuongphap>.cacphuongphapul>.phuongphapli {
    width: 44%;
}

.cacphuongphap>.cacphuongphapul>.phuongphapli:first-child {
    width: 52%;
}

.kienthucnamkhoa {
    padding: 2% 2%;
}

.kienthucnamkhoa {
    padding: 2% 2%;
}

.kienthucnamkhoa>h2 {
    font-size: 95%;
    letter-spacing: 1px;
    color: #9c27b0;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
}

.kienthucnamkhoa>h2:after {
    content: '';
    color: #9c27b0;
    margin-left: 1.5%;
    font-size: 98%;
    position: absolute;
    letter-spacing: 3px;
    background: url(../img/before/violetxemthem.png)no-repeat;
    background-size: 100%;
    background-position: 0 70%;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 4vw;
    max-height: 20px
}

.kienthucnamkhoa>h2:before {
    content: '';
    background: #9c27b0;
    bottom: -22%;
    position: absolute;
    height: 2px;
    width: 15%;
}

.kienthucnamkhoa>.phuongphapfirst>.img {
    width: 35%;
    float: left
}

.kienthucnamkhoa>.phuongphapfirst>.nd {
    width: 63%;
    float: right
}

.kienthucnamkhoa>.phuongphapfirst>.nd>a>h3 {
    font-size: 92%;
    font-weight: normal;
    position: relative
}

.kienthucnamkhoa>.phuongphapfirst>.nd>a>h3:before {
    height: 2px;
    background: #9c27b0;
    width: 10%;
    content: '';
    position: absolute;
    bottom: -20%;
    left: 0.5%;
}

.kienthucnamkhoa>.phuongphapfirst>.nd>p {
    font-size: 85%;
    margin: 2% auto;
    margin-top: 5%;
}

.kienthucnamkhoa>ul {
    margin: 0;
    list-style: none;
}

.kienthucnamkhoa>ul>li {
    padding: 2% 3%;
    border-bottom: 1px solid #d2d6dc;
    padding-left: 8%;
    position: relative
}

.kienthucnamkhoa>ul>li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #9c27b0;
    left: 3%;
    top: 35%;
}

.hoibacsi {
    padding: 2% 0;
    background: rgba(62, 77, 87, 0.9)
}

.hoibacsi>.hoibacsipadding {
    padding: 1% 3%;
}

.hoibacsi>.hoibacsipadding>h2 {
    color: #fff;
    font-size: 95%;
    font-weight: normal;
}

.hoibacsi>.hoibacsipadding>p {
    color: #fff;
    font-size: 90%;
    text-align: justify
}

.hoibacsi>.hoibacsipadding>p.hoi {
    padding: 2% 0%;
}

.hoibacsi>.hoibacsipadding>p.hoi:befor {
    content: "Hỏi:";
}

.hoibacsi>.hoibacsipadding>p.traloi {
    padding: 3% 3%;
    padding-left: 10%;
    border: 1px solid #fff;
    display: block;
    position: relative
}

.hoibacsi>.hoibacsipadding>p.traloi:before {
    content: "Đáp:";
    position: absolute;
    top: 1.5%;
    left: 1.5%;
}

/*.logo {
    padding: 2% 3%;
}*/

.formsodienthoaihead {
    /*padding: 0 2%;*/
    position: relative;
}

.formsodienthoaihead>.vach3fix {
    width: 10%;
    /*background: url(../img/icon/black3vachfix.png)no-repeat;*/
    background-size: 80%;
    display: block;
    position: absolute;
    left: 1%;
    top: 9%;
    /*bottom: 0;*/
    display: none;
}


/*.formsodienthoaihead>.vach3fix:hover {
    background: url(../img/icon/black3vachfix.png)no-repeat;
    background-size: 100% auto;
    display: block;
    position: absolute;
    left: 1%;
    top: 15%;
    bottom: 0;
    display: none;
}*/

.formsodienthoaihead>form>.sdtinput {
    width: 85%;
    margin: 0 auto;
    border: 0px;
    padding: 1% 4% 2% 4%;
    border-bottom: 1px solid #a1a1a1;
    color: #cecece;
    font-size: 85%;
    float: left;
    margin-left: 2%
}

.formsodienthoaihead>form>.btngui {
    width: 9%;
    padding: 2% 0;
    background: url(../img/icon/purplemb.png)no-repeat;
    float: right;
    border: 0px;
    margin-right: 5px;
    background-size: 80%;
}


/*.formsodienthoaihead>form>.btngui:hover {
    background: url(../img/icon/blackmb.png)no-repeat;
    width: 12%;
    padding: 3% 2%;
    float: right;
    border: 0px;
    background-size: 100%;
}*/

.thuvien {
    margin-top: 5%
}

.thuvien>a {
    position: relative;
    padding: 2% 5% 2% 18%;
    border-bottom: 1px solid #929294;
    color: #9c27b0;
    text-transform: uppercase;
    font-size: 110%;
    display: block;
    margin-bottom: 2%
}

.thuvien a span.dmb_icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%
}

.thuvien a span.dmb_icon img {
    height: 100%
}



/*
    tinh hinh
*/


/*
    bread / phan trang
*/

.m_content {
    background: #fff;
}

.m_content .m_motbenh {
    background: #fff;
    padding: 2%
}

.breadcrumb_main {
    margin-bottom: 10px
}

.breadcrumb {
    float: left;
    padding: 5px 0px;
    font-size: 13px;
    margin-right: 10px
}

.breadcrumb>span {
    color: #333;
}

.breadcrumb>a>span {
    color: #9c27b0;
}

.phantrang {
    text-align: center
}

.phantrang a {
    /*background: #9c27b0;*/
    background-color: #9c27b0;
    color: #fff !important;
    padding: 3px 7px;
    margin: 0px 4px;
}

.phantrang span,
.phantrang a:hover {
    background: #fff;
    color: #9c27b0 !important;
    padding: 2px 6px;
    margin: 0px 4px;
    border: 1px solid #9c27b0
}

/*.phantrang_hinh{
    color: #000 !important;
}*/

.content_chitiet * {
    max-width: 100%
}

/*.m_motbenh h3.title,
.m_motbenh h1 {
    color: #fff;
    background: url("../img/icon_list.png") #9c27b0 no-repeat left 5px center;
    padding: 2% 2% 2% 35px;
    margin-bottom: 10px;
    font-size: 120%
}*/

/*.m_motbenh h3 a,
.m_motbenh h1 a {
    color: #fff
}*/

.m_motbenh .hinh_tc {
    width: 24%;
    float: left;
    margin-right: 10px
}

.m_motbenh .content_tc {
    width: 70%;
    float: right;
}

.content_tc p{
    color: black;
    border-top: 1px solid #000;
}

.m_motbenh .listbenh_tc li {
    margin-bottom: 15px;
    border-bottom: 1px solid #9c27b0;
}

.m_motbenh .listbenh_tc li h4 {
    color: #9c27b0
}

.backtotop {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 10%;
}

.hidden {
    display: none;
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    * {
        font-size: 15px;
        box-sizing: border-box
    }
    .truyenthong>h2 {
        font-size: 98%;
        letter-spacing: 0.5px;
        color: #434343;
        position: relative;
        text-transform: uppercase
    }

    /*.w650>section>div>div>a>img{
        width: 60px !important;
        background-color: red !important;
        padding: 0 !important;
        margin: 0 !important;
    }*/
}

@media screen and (max-width: 400px) {
    * {
        font-size: 15px;
        box-sizing: border-box
    }
    .mot_dmb a.hinh {
        width: 100%;
        margin: auto;
        float: none
    }
    .mot_dmb .dmb_content {
        width: 100%;
        margin-top: 2%;
        float: none
    }
    .mot_dmb .dmb_content h3 {
        color: #1d8fcd;
        font-size: 120%
    }
    .mot_dmb .dmb_content p {
        font-size: 90%
    }
    .mot_dmb ul li {
        margin-right: 1%;
        width: 49%;
        margin-bottom: 1%
    }
    .mot_dmb ul li:nth-child(2),
    .mot_dmb ul li:nth-child(4),
    .mot_dmb ul li:nth-child(6) {
        margin-right: 0
    }
    .mot_dmb ul li:nth-child(3) {
        margin-right: 1%
    }
    .mot_dmb ul li a {
        height: 8vw
    }
}

@media screen and (max-width: 350px) {
    * {
        font-size: 14px
    }
    .chuyenkhoa>ul>li>a>p {
        font-size: 95%;
    }
}

.hidden {
    display: none;
}

.color0cd {
    color: #9c27b0
}

.chitietbaiviet-lienquan {
    padding: 1px 10%;
    border: 1px dashed gray;
    margin-bottom: 1.5%;
    margin-top: 7%;
}

.chitietbaiviet-lienquan ul {
    /*list-style-image: url('../img/lienquan.jpg');*/
}

.chitietbaiviet-lienquan ul>li>a {
    color: #000;
    font-weight: bold;
    font-size: 85%
}

#LRMINIBar {
    bottom: 13% !important;
}

#LR-CIRCLE {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
}

.LR-BTN {
    width: 50px !important;
    height: 50px !important;
}

#LR-BTN-ICON {
    margin: 10px !important;
}

.float-btool {
    max-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.float-btool>img {
    width: 100%;
    height: auto;
    float: left;
}

.float-btool ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.float-btool ul li.ys2 {
    width: 40%;
    height: 100%;
    float: left;
    display: block;
}

.float-btool ul li.ys3 {
    width: 30%;
    height: 100%;
    float: left;
    display: block;
}

.float-btool ul li {
    width: 30%;
    height: 100%;
    float: left;
    display: block;
}

.float-btool ul li a {
    width: 100%;
    height: 100%;
    float: left;
}



/*From Kontent*/


/*From Include,css*/

.fix-scroll {
    max-width: 650px;
    margin: 0 auto;
    position: fixed !important;
    top: 0;
    left: 0px;
    right: 0;
    z-index: 10;
    background: #fff;
    border-top: 1px solid #9c27b0;
    border-bottom: 1px solid #9c27b0;
}

.fix-scroll>.vach3fix {
    display: block !important
}

.fix-scroll>form>.sdtinput {
    width: 77% !important;
    border: 0px !important;
    padding-top: 3% !important;
    margin-left: 11% !important;
    font-size: 80% !important;
    margin-top: 1% !important;
}

.fix-scroll>form>.btngui {
    margin-top: 2% !important;
}





/*From Content*/

.che1 {
    background: #000;
    opacity: 0.96;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    color: #000;
    padding: 0px;
    z-index: 100!important;
    display: block
}

.lightboxcontainer {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    top: 8%;
    width: 80%;
    height: 70%;
    padding: 3%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    background: url(modules/playyoutube/bg.jpg) rgb(255, 255, 255) no-repeat;
}

.lightboxleft {
    width: 40%;

    float: left;
}

.lightboxright {
    width: 60%;
    height: 70%;
    float: left;
}

.lightboxright iframe {
    height: 100%;
}

.divtext {
    background: rgba(66, 167, 221, 0.8);
    line-height: 22px;
    padding: 2% 3%;
}

.divtext>p.divtitle {
    font-size: 95%;
    text-transform: uppercase;
    text-align: center;
}

.divtext>p {
    color: #fff;
    text-align: justify;
}

.divtext>p.divdescription {
    margin: 0 15px;
    line-height: 22px;
}

.tuvanpoupup {
    display: block;
    width: 90%;
    margin: 2.5% auto;
    background: #42a7dd;
    padding: 2% 3%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-weight: normal;
    letter-spacing: 0.8px;
    font-size: 90%;
}

.hoancauclose {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -15px;
    top: -15px;
    background: url(modules/playyoutube/hoancau-close.png)no-repeat;
}

@media (max-width: 800px) {
    .lightboxleft {
        width: 100%;
    }
    .lightboxright {
        width: 100%;
    }
    .divtext {
        margin: 12px;
    }
}

.shock {}

.shock_wrap {
    position: relative;
    display: inline-block
}

.shock_block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #666;
    text-align: center;
    margin: auto;
    border: 1px solid #ccc;
    color: #fff
}

.shock_block span {
    top: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
    bottom: 0px;
    height: 60px;
    width: 90%
}

.shock_click {
    padding: 2%;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #666;
}

.wrap-pop .frm input[type=submit] {
    width: 22%;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 7%;
    height: 84%;
    background: #9c27b0;
    color: white;
    border: 0px;
    cursor: pointer;
}

.wrap-pop .popup {
    width: 100%;
    float: left;
}

.wrap-pop {
    font-size: 16px;
}

.wrap-pop .txt3 {
    color: #009CFF;
    width: 100%;
    float: left;
    font-size: 125%;
    text-align: center;
    text-transform: uppercase;
    margin: 2% 0;
}

.wrap-pop .frm input[type=text] {
    padding: 1%
}

.wrap-pop .wrap-btn {
    width: 100%;
    float: left;
    padding-bottom: 5%;
}

.wrap-pop .btn-pop {
    width: 64%;
    margin: auto;
    background: #9c27b0;
    color: white;
    display: flex;
    text-align: center;
    line-height: 27px;
    border-radius: 10px;
}

.wrap-pop .note {
    width: 80%;
    float: left;
    padding: 1% 2%;
    font-size: 105%;
}

.wrap-pop .btn-pop .icon-phone {
    width: 19%;
    float: left;
    padding: 1% 2%;
    margin-left: 1%;
}

.wrap-pop .frm input {
    max-height: 70px;
    width: 100%;
    height: 9vw;
    padding: 1%;
    outline: none;
    border: 1px solid #a6a4a4;
    box-sizing: border-box;
    border-radius: 4px;
}

.wrap-pop .frm {
    float: left;
    width: 96%;
    margin-top: 2%;
    text-align: center;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.wrap-pop p.txt1,
.wrap-pop p.txt2 {
    color: #169B9C;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 100%;
    float: left;
    margin: 1% 0;
}

.wrap-pop p.txt1 {
    margin-top: 2%;
}

.wrap-pop>.popup>.logopop {
    width: 100%;
    margin-top: 3%;
    float: left;
}

.wrap-pop>.popup>.logopop img {
    width: 75%;
    margin: auto;
    display: block;
}

.vta {
    display: -ms-flexbox!important;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: -webkit-box!important;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
}

.wrap-pop {
    width: 70%;
    max-width: 455px;
    margin: auto;
}

.w100 {
    width: 100%;
}

.head-top .col1,
.head-top .col3 {
    width: 10%;
    float: left;
    padding: 1%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.wrap-pop .head-top {
    background: #9c27b0;
    width: 100%;
    float: left;
    max-height: 50px;
    height: 9.515vw;
    font-weight: bold;
    position: relative;
}

.wrap-pop .head-top .col2 {
    width: 80%;
    float: left;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 130%;
}

.head-top .col1 img,
.head-top .col3 img {
    width: auto;
    height: 85%;
    margin: auto;
}

.wrap-pop {
    position: fixed;
    top: 15%;
    display: block;
    z-index: 99999999999999999;
    left: 0;
    right: 0;
    background: white;
}

.wrap-pop.hidden {
    display: none;
}

.wrap-pop .icp1 {
    position: relative;
    top: 4px
}

.wrap-pop .note {
    color: #fff
}

@media screen and (max-width: 603px) {
    .wrap-pop .note {
        font-size: 93%;
    }
    .wrap-pop .btn-pop {
        line-height: 20px
    }
}

@media screen and (max-width: 553px) {
    .wrap-pop p.txt1,
    .wrap-pop p.txt2 {
        font-size: 90%
    }
    .wrap-pop .note {
        font-size: 79%;
    }
    .wrap-pop .icp1 {
        position: relative;
        top: 8px
    }
}

@media screen and (max-width: 520px) {
    .wrap-pop p.txt1,
    .wrap-pop p.txt2 {
        font-size: 76%
    }
    .wrap-pop .note {
        font-size: 71%;
    }
    .wrap-pop .btn-pop {
        line-height: 17px
    }
    .wrap-pop .note {
        font-size: 100%
    }
}

@media screen and (max-width: 414px) {
    .wrap-pop .note {
        font-size: 70%;
    }
}

@media screen and (max-width: 400px) {
    .wrap-pop .icp1 {
        position: relative;
        top: 6px
    }
    .wrap-pop {
        font-size: 13px
    }
    .wrap-pop p.txt1,
    .wrap-pop p.txt2 {
        font-size: 62%;
    }
    .wrap-pop .note {
        font-size: 60%
    }
    .wrap-pop .btn-pop {
        line-height: 14px;
    }
    .wrap-pop .txt3 {
        font-size: 100%
    }
}

@media screen and (max-width: 320px) {
    .wrap-pop .note {
        font-size: 58%;
    }
}



/*------*/

.tbd-phong-a {
    text-decoration: none;
    color: #2CAAD3;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.tbd-alo-phone {
    position: fixed;
    /*visibility: hidden;*/
    background-color: transparent;
    width: auto;
    /*height: 50px;*/
    cursor: pointer;
    z-index: 200 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    /*right: 150px;*/
    top: 0px;
    margin: 0;
    padding: 0;
    /*margin-right: 20%;*/
}

.tbd-alo-ph-circle {
    width: 110px;
    height: 110px;
    top: 35px;
    left: 35px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border: 2px solid #bfebfc 9;
    opacity: .1;
    -webkit-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
    animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-color: #ff0000;
    opacity: .5;
}

@-moz-keyframes tbd-alo-circle-anim {
    0% {
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1
    }
    30% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5
    }
    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1
    }
}

@-webkit-keyframes tbd-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-o-keyframes tbd-alo-circle-anim {
    0% {
        -o-transform: rotate(0) kscale(.5) skew(1deg);
        -o-opacity: .1
    }
    30% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        -o-opacity: .5
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        -o-opacity: .1
    }
}


.tbd-alo-ph-circle-fill {
    width: 80px;
    height: 80px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: .75 !important;
}

@-moz-keyframes tbd-alo-circle-fill-anim {
    0% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes tbd-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes tbd-alo-circle-fill-anim {
    0% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

.tbd-alo-ph-img-circle {
    width: 40px;
    height: 40px;
    top: 70px;
    left: 70px;
    position: absolute;
    /*background: rgba(30, 30, 30, 0.1) url("/img/call.png") no-repeat center center;*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
    animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    background-color: #ff0000;
}

.tbd-alo-phone:hover .tbd-alo-ph-circle-fill {
    background-color: rgba(66, 168, 221, 0.5) !important;
}

.tbd-alo-phone:hover .tbd-alo-ph-circle {
    border-color: #42a7dd
}

.tbd-alo-phone:hover .tbd-alo-ph-img-circle {
    background-color: #42a7dd;
}

@-moz-keyframes tbd-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes tbd-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes tbd-alo-circle-img-anim {
    0% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
}


/*New for Footer*/
/*Maps*/
#icon-phone{
    background: url('../img/icon/iphonei.png')no-repeat;
}

#icon-time{
    background: url('../img/icon/24h.png')no-repeat;
}

#icon-way{
    background: url('../img/icon/ichome.png')no-repeat;
}

/*For Logo*/
/*#logo{
    background: url('../img/logo/header-violet.png')no-repeat;
    background-color: red;
    padding-left: 5%;
}*/

#logo a{
    font-family: arial black;
    color: #9c27b0
}

/*span in footer*/
#icon-close{
    background: url('../img/etc/close.png')no-repeat;
    cursor: pointer;
    border: 0;
}

#icon-da1{
    background: url('../img/etc/da1.png')no-repeat;
    cursor: pointer;
    border: 0;
}

#icon-da{
    background: url('../img/etc/da.png')no-repeat;
    cursor: pointer;
    border: 0;
}

#icon-jiantou{
    background: url('../img/etc/jiantou.png')no-repeat;
    cursor: pointer;
    border: 0;
}

#LR_miniframe{
    
}

/*From Penyakit/Single/*/
.content_chitiet{ line-height:30px;padding: 0px 10px;
                box-sizing: border-box;}
                .content_chitiet p em{font-style:normal !important;}
                .content_chitiet table{ width:100%!important}
                .content_chitiet table td{ padding:10px}
                .content_chitiet p{ margin:10px 0px; clear:both; display:block; max-width:100%; text-align:justify;white-space: pre-line;
                line-height: 30px;word-spacing: 2px;}
                .content_chitiet img{ max-width:100%!important; margin:auto; height:auto!important}
                .content_chitiet h2{ color:#0175b2; padding:5px 0px; background:url("img/dieutri.png") no-repeat left center; padding-left:25px; font-size:14px; border-bottom:1px solid #0175b2 }
                .content_chitiet a{ color:red}
                .content_chitiet li{ list-style:none; margin-left:10px}
                .chuthich{font-size:14px}
                .content_chitiet .khungxanh{border:2px solid #417394;background:#f2f6f8;border-radius:5px;padding:2%;width:90%;margin:auto}
                .content_chitiet .khungxanh img{max-width:100%}
                .content_chitiet .khungtuvan{background-color:#e3f8f5;padding:5px 10px 10px;border:2px solid #417394;width:95%;margin:auto}
                .content_chitiet .khungxanhla{margin: 0px; padding: 10px; color: rgb(0, 0, 0);font-size: 14px; line-height: 25px; text-align: justify; border: 1px dashed rgb(0, 166, 126); box-sizing: border-box; background: rgb(241, 252, 247);}
                .content_chitiet p.em{font-style:italic;}
                .content_chitiet img.imgcenter{width:80%;max-width:500px ;margin:1% auto;display:block}
                .content_chitiet p.center{text-align:center;}
                color008{color:#008080}
                .color006{color:#006400}
                .colorff0{color:#FF0000}
                .color2f4 {color: #2F4F4F;}
                .color4b0{color:#4B0082}
                .content_chitiet .em{font-style:italic;}
                .content_chitiet .u{text-decoration: underline;}
                .btn_tuvan_noidung{display:block;margin:0 auto;clear:both;width:80%}
                .btn_tuvan_noidung2{display:block;margin:5% auto !important;clear:both;width:50%}
                .content_chitiet .khungtuvan{background-color:rgba(204,255,204,0.2);padding:5px 10px 10px;border:2px solid #01afee;width:94%;margin:auto}
                @-webkit-keyframes hvr-ripple-out {
                0%{
                    opacity:0;
                }
                20%{
                    opacity:1;
                }
                100% {
                    top: -12px;
                    right: -12px;
                    bottom: -12px;
                    left: -12px;
                    opacity: 0;
                  }
                }
            @keyframes hvr-ripple-out {
                0%{
                    opacity:0;
                }
                20%{
                    opacity:1;
                }
                100% {
                    top: -12px;
                    right: -12px;
                    bottom: -12px;
                    left: -12px;
                    opacity: 0;
                  }
                }

                .hvr-ripple-out {
                 
                  vertical-align: middle;
                  -webkit-transform: translateZ(0);
                  transform: translateZ(0);
                  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                  -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
                  -moz-osx-font-smoothing: grayscale;
                  position: relative;
                }
                .hvr-ripple-out:before {
                  content: '';
                  position: absolute;
                  border: #01afee solid 2px;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  -webkit-animation-duration: 1s;
                  animation-duration: 1s;
                  z-index:-1;
                }
                .hvr-ripple-out:before, .hvr-ripple-out:before, .hvr-ripple-out:before {
                  -webkit-animation-name: hvr-ripple-out;
                  animation-name: hvr-ripple-out;
                   -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
                .khung-text{margin: 0px;
                padding: 10px;
                border: 1px solid rgb(0, 100, 0);
                outline: 0px;
                font-size: 14px;
                vertical-align: baseline;
                background: none rgb(242, 246, 248);
                border-radius: 5px;
                font-stretch: normal;
                position: relative;
                top: 0px;
                text-align: justify;
                color: rgb(0, 0, 0);
                font-family: Arial;
                box-shadow: none !important;}
                div.line_top {
                border-top: 1px solid #0175b2;
                        padding-bottom: 10px;
                    }


/*New*/
.curs {
    height: 100px;
}

.curs>h4{
    line-height: 100px;
}