/*
    system
*/

/* Fonts */

/* @import url(https://fonts.googleapis.com/css?family=Crete+Round); */

/* @import url(https://fonts.googleapis.com/css?family=Poppins); */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);


html {
  font-size: 14px;
}

p{
  /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-size: medium;
  font-style: normal; */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

@font-face {
  font-family: 'MyIconFont';
  /*use SVG format last as it is bigger than other format*/
  font-weight: normal;
  font-style: normal;
  /*MyFontIcon  is name of icon font*/

  src: url('fonts/MyIconFont.eot');
  src: url('fonts/MyIconFont.eot?#iefix') format('embedded-opentype'),
  url('fonts/MyIconFont.ttf') format('truetype'),
  url('fonts/MyIconFont.woff') format('woff'),
  url('fonts/MyIconFont.svg#MyIconFont') format('svg');
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', san-serif;
  font-size: 16px;
  /*color:#434343*/
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;

  vertical-align: middle;
}

.left {
  float: left
}

.right {
  float: right
}

.clear {
  clear: both
}

.clear10 {
  clear: both;

  height: 10px
}

.clear20 {
  clear: both;

  height: 20px
}

.clear50 {
  clear: both;

  height: 50px
}

.clear100 {
  clear: both;

  height: 100px
}

.list_ngang li {
  display: inline-block;
  float: left;

  list-style: none;
}

.list_doc li {
  display: block;

  list-style: none;
}

h3 {
  font-size: 90%;
}

a {
  text-decoration: none;

  color: #000;
}

.tj {
  margin-bottom: 5px;

  text-align: justify;

  font-size: 14px;
  line-height: 20px;
}

.tc {
  text-align: center
}

.vien_hinh {
  border: 4px solid #fff !important;
  outline: 1px solid #d3d2d2;
}

.bo5 {
  border-radius: 5px
}

.mr5 {
  margin-right: 5px
}

.mr10 {
  margin-right: 10px
}

.mt10 {
  margin-top: 10px
}

.mb {
  margin-bottom: 5px
}

.ngay {
  margin-top: 5px;

  color: #666;

  font-size: 12px;
  font-style: italic;
}

.w650 {
  top: 0;

  max-width: 640px !important;
  margin: auto;
  padding-top: 20px;
}

.w650>div>div {
  height: 35px;
}

.w650>div>div>div {
  height: 35px;
}

/* .w650>div>div>div>a>i:hover{
  color: #ee22d3;
  border: 1px solid transparent;
} */

/* Brand Name */

#brand>a {
  /* font-family: 'Crete Round', serif; */
  font-family: 'Poppins', sans-serif;
}

#brand>a>h1 {
  /* font-family: 'Crete Round', serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  /* font-size: 100%; */
}

.banner {
  position: relative;
}

.banner>img {
  width: 100%;
}

.sb {
  box-shadow: 0 4px 4px -2px #999
}

.hl {
  white-space: nowrap;

  color: red;

  font-size: 120%;
  font-weight: bold
}

.vta {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blink_me2 {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

footer {
  position: relative;

  /* min-height: 50px; */
  padding-bottom: 1%;

  background:transparent;
  /*margin:5% 0 18% 0*/;
}

footer>.mapimg {
  position: relative;
  /* display: none; */
  width: 100%;
  /* min-height: 50px; */
}

footer>.mapimg>.changemap1 {
    /* width: 10%; */
    top: -85px;
    margin: auto;
    left: 2%;
    /* background: url(../img/icon/abc1.png)no-repeat; */
    background-size: 100%;
    /* min-height: 50px; */
    float: left;
    padding-bottom: 5%;
    margin-top: -368px;
    margin-right: 10px;
    position: absolute;
}

footer>.address {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  float: left;
  height: 30%;
  width: 50%;
  /* min-height: 50px; */
  padding-bottom: 1%;
  border-radius: 5px;

  /* background: #fdd2ee  ; */
  /*margin:5% 0 18% 0*/
  ;
}

/*.changemap {
    width: 10%;
    padding-bottom: 5%;
    top: 50%;
    bottom: 0;
    margin: auto;
    right: 2%;
    background: url(../img/icon/abc.png)no-repeat;
    background-size: 100%;
    position: absolute;
    min-height: 50px;
}*/

footer>.address>img.logo {
  display: block;

  width: 70%;
  margin: 2% auto;
}

footer>.address>ul {
  margin: 0;
  padding: 17px 12px;
  list-style: none;
}

/* footer>.address>ul>li {
  width: 70%;
  /* min-height: 30px; */
  margin: 5px 5%;
} */

footer>.address>ul>li>img {
  float: left;

  width: 15%;
  height: auto;
}

footer>.address>ul>li:first-child>img {
  float: left;

  width: 5%;
  /* min-height: 30px; */
}

footer>.address>ul>li>p {
  /* padding-top: 6px; */
  float: right;

  width: 80%;
  /* min-height: 30px; */
  font-size: 80%;

  color: #fff;
}

.delay {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* header {
    height: 13vw;
    max-height: 60px;
    position: relative
} */

.gioithieu {
  position: absolute;
  top: 23%;
  right: 16%;

  display: block;

  padding: 1% 2%;
}

.vach3 {
  position: relative;

  display: block;
  float: right;

  width: 9%;
  padding: 1% 0;

  /* background: red; */
  background-size: 80%;
}

header>div {
  /* background: brown; */
}

.formtuvanhome {
  padding: 2% 3%
}

.formtuvanhome>form {
  padding: 3% 4%;

  border: 2px solid#df53cc;
}

.formtuvanhome>form>h2 {
  letter-spacing: 0.8px;

  color: #434343;

  font-size: 98%;
  font-weight: normal;
  font-weight: 600;
}

.formtuvanhome>form>.inputsdt {
  width: 100%;
  margin: 2% auto;
  padding: 2%;

  border: 1px solid #c4c4c4;
}

.formtuvanhome>form>.areanoidung {
  width: 100%;
  height: 15vw;
  max-height: 130px;
  margin: 2% auto;
  padding: 2%;

  resize: none;

  border: 1px solid#df53cc
}

.formtuvanhome>form>.btnform {
  float: right;

  margin: 0 auto;
  padding: 2% 4%;

  color: #fff;
  border: 0px;
  background:#df53cc  ;
}

.inputsdt::-webkit-input-placeholder {
  opacity: 1;
  color: #434343;
}

.inputsdt:-moz-placeholder {
  opacity: 1;
  color: #434343;
}

.inputsdt::-moz-placeholder {
  opacity: 1;
  color: #434343;
}

.inputsdt:-ms-input-placeholder {
  opacity: 1;
  color: #434343;
}

.areanoidung::-webkit-input-placeholder {
  opacity: 1;
  color: #434343;

  font-family: 'Roboto', sans-serif;
}

.areanoidung:-moz-placeholder {
  opacity: 1;
  color: #434343;

  font-family: 'Roboto', sans-serif;
}

.areanoidung::-moz-placeholder {
  opacity: 1;
  color: #434343;

  font-family: 'Roboto', sans-serif;
}

.areanoidung:-ms-input-placeholder {
  opacity: 1;
  color: #434343;

  font-family: 'Roboto', sans-serif;
}



.thuvien {
  padding: 2% 2%;
}

.thuvien>h2 {
  position: relative;

  letter-spacing: 1px;
  text-transform: uppercase;

  color:#df53cc  ;

  font-size: 95%;
  font-weight: normal;
}

.thuvien>h2:after {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 10%;
  height: 4vw;
  max-height: 20px;
  margin-left: 1.5%;

  content: '';
  letter-spacing: 3px;

  color:#df53cc  ;
  background: url(../img/before/violetxemthem.png)no-repeat;
  background-position: 0 70%;
  background-size: 100%;

  font-size: 98%;
}

.thuvien>h2:before {
  position: absolute;
  bottom: -5%;

  width: 15%;
  height: 3px;

  content: '';

  background:#df53cc  ;
}

.chuyenkhoa {
  /*padding: 2% 2%;*/
  /* background-color: #007F46;*/
}

.chuyenkhoa>h2 {
  position: relative;

  letter-spacing: 1px;
  text-transform: uppercase;

  color:#df53cc  ;

  font-size: 95%;
  font-weight: normal;
}


/*.chuyenkhoa>h2:after {
    content: '';
    color:#df53cc  ;
    margin-left: 1.5%;
    font-size: 98%;
    position: absolute;
    letter-spacing: 3px;
    background: url(../img/before/violetxemthem.png)no-repeat;
    background-size: 100%;
    background-position: 0 70%;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 4vw;
    max-height: 20px
}*/

/*.chuyenkhoa>h2:before {
    content: '';
    background:#df53cc  ;
    bottom: -22%;
    position: absolute;
    height: 1.5px;
    width: 15%;
}*/

.chuyenkhoa>ul {
  width: 100%;
  min-height: 10vw;
  margin: 2% 0px;
  padding: 0px 1%;

  list-style: none;
}

.chuyenkhoa>ul>li {
  position: relative;

  float: left;

  width: 45%;
  min-height: 5vw;
  margin: 5% 2%;
  padding: 2%;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 7px 7px#df53cc  ;
}

.chuyenkhoa>ul>li:hover {
  box-shadow: 7px 7px #FFD700;
}



/*New*/

.chuyenkhoa>ul>li>a>div>img:hover {
  border: 3px solid #FFD700;
  border-radius: 200px;
}

.chuyenkhoa>ul>li>a {
  position: relative;

  width: 100%;
  /*display: block;*/
  height: 100%;
  padding: 2%;

  text-align: center;

  font-size: 85%;
}

.chuyenkhoa>ul>li>a>p {
  font-size: 102%;
}

.chuyenkhoa>ul>li>a>div>img {
  border: 1px solid#df53cc  ;
  border-radius: 200px;
}

.chuyenkhoa>ul>li>a>.img {
  width: 40%;
  /*margin: 10% auto;*/
}


/*.chuyenkhoa>ul>li:nth-child(2)>a>.img {
    width: 67%;
}*/

.chuyenkhoa>ul>li>a>.img>img {
  /*max-width: 100%;*/
}

.trieuchungbenh {
  padding: 2% 3%;
}

.trieuchungbenh>h2 {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#df53cc  ;
  font-size: 95%;
  font-weight: normal;
}

.trieuchungbenh>h2:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  height: 4vw;
  max-height: 20px;
  margin-left: 1.5%;
  content: '';
  letter-spacing: 3px;
  color:#df53cc  ;
  background: url(../img/before/violetxemthem.png)no-repeat;
  background-position: 0 70%;
  background-size: 100%;
  font-size: 98%;
}

.trieuchungbenh>h2:before {
  position: absolute;
  bottom: -22%;
  width: 15%;
  height: 1.5px;
  content: '';
  background:#df53cc  ;
}

.trieuchungbenh>.trieuchungul>.trieuchungli {
  width: 48%;
}

.trieuchungbenh>.trieuchungul>.trieuchungli>a>h3 {
  margin: 1% auto;

  color:#df53cc  ;

  font-weight: normal;
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.ngaydang {
  clear: both;

  margin: 2% 0px;
}

.trieuchungbenh>.trieuchungul>.trieuchungli>p.tomtat {
  margin: 1.5% auto;

  text-align: justify;

  color: #374456;

  font-size: 85%;
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.ngaydang>p.date {
  float: left;

  margin-right: 4%;
  padding: 1% 2%;

  border: 1px solid#df53cc  ;

  font-size: 85%
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.ngaydang>p.luotxem {
  float: left;

  padding: 1% 2%;
  padding-left: 10%;

  border: 1px solid#df53cc  ;
  background: url(../img/icon/iconxem.png)no-repeat;
  background-position: 3% 50%;
  background-size: 40%;

  font-size: 85%
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.tags {
  margin: 1% 0;

  font-size: 85%
}

.trieuchungbenh>.trieuchungul>.trieuchungli>.tags>a {
  margin: 0 1.5%;

  color:#df53cc  ;

  font-size: 98%;
}

.cacphuongphap {
  padding: 2% 2%;
}

.cacphuongphap>h2 {
  position: relative;

  letter-spacing: 1px;
  text-transform: uppercase;

  color:#df53cc  ;

  font-size: 95%;
  font-weight: normal;
}

.cacphuongphap>h2:after {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 10%;
  height: 4vw;
  max-height: 20px;
  margin-left: 1.5%;

  content: '';
  letter-spacing: 3px;

  color:#df53cc  ;
  background: url(../img/before/violetxemthem.png)no-repeat;
  background-position: 0 70%;
  background-size: 100%;

  font-size: 98%;
}

.cacphuongphap>h2:before {
  position: absolute;
  bottom: -22%;

  width: 15%;
  height: 2px;

  content: '';

  background:#df53cc  ;
}

.cacphuongphap>.cacphuongphapul>.phuongphapli {
  width: 44%;
}

.cacphuongphap>.cacphuongphapul>.phuongphapli:first-child {
  width: 52%;
}

.kienthucnamkhoa {
  padding: 2% 2%;
}

.kienthucnamkhoa {
  padding: 2% 2%;
}

.kienthucnamkhoa>h2 {
  position: relative;

  letter-spacing: 1px;
  text-transform: uppercase;

  color:#df53cc  ;

  font-size: 95%;
  font-weight: normal;
}

.kienthucnamkhoa>h2:after {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 10%;
  height: 4vw;
  max-height: 20px;
  margin-left: 1.5%;

  content: '';
  letter-spacing: 3px;

  color:#df53cc  ;
  background: url(../img/before/violetxemthem.png)no-repeat;
  background-position: 0 70%;
  background-size: 100%;

  font-size: 98%;
}

.kienthucnamkhoa>h2:before {
  position: absolute;
  bottom: -22%;

  width: 15%;
  height: 2px;

  content: '';

  background:#df53cc  ;
}

.kienthucnamkhoa>.phuongphapfirst>.img {
  float: left;

  width: 35%;
}

.kienthucnamkhoa>.phuongphapfirst>.nd {
  float: right;

  width: 63%;
}

.kienthucnamkhoa>.phuongphapfirst>.nd>a>h3 {
  position: relative;

  font-size: 92%;
  font-weight: normal;
}

.kienthucnamkhoa>.phuongphapfirst>.nd>a>h3:before {
  position: absolute;
  bottom: -20%;
  left: 0.5%;

  width: 10%;
  height: 2px;

  content: '';

  background:#df53cc  ;
}

.kienthucnamkhoa>.phuongphapfirst>.nd>p {
  margin: 2% auto;
  margin-top: 5%;

  font-size: 85%;
}

.kienthucnamkhoa>ul {
  margin: 0;

  list-style: none;
}

.kienthucnamkhoa>ul>li {
  position: relative;

  padding: 2% 3%;
  padding-left: 8%;

  border-bottom: 1px solid #d2d6dc;
}

.kienthucnamkhoa>ul>li:before {
  position: absolute;
  top: 35%;
  left: 3%;

  width: 8px;
  height: 8px;

  content: "";

  background:#df53cc  ;
}

.hoibacsi {
  padding: 2% 0;

  background: rgba(62, 77, 87, 0.9)
}

.hoibacsi>.hoibacsipadding {
  padding: 1% 3%;
}

.hoibacsi>.hoibacsipadding>h2 {
  color: #fff;

  font-size: 95%;
  font-weight: normal;
}

.hoibacsi>.hoibacsipadding>p {
  text-align: justify;

  color: #fff;

  font-size: 90%;
}

.hoibacsi>.hoibacsipadding>p.hoi {
  padding: 2% 0%;
}

.hoibacsi>.hoibacsipadding>p.hoi:befor {
  content: "Hỏi:";
}

.hoibacsi>.hoibacsipadding>p.traloi {
  position: relative;

  display: block;

  padding: 3% 3%;
  padding-left: 10%;

  border: 1px solid #fff;
}

.hoibacsi>.hoibacsipadding>p.traloi:before {
  position: absolute;
  top: 1.5%;
  left: 1.5%;

  content: "Đáp:";
}

.formsodienthoaihead {
  /*padding: 0 2%;*/
  position: relative;
  background: #fff;
}

.formsodienthoaihead>.vach3fix {
  position: absolute;
  top: 9%;
  left: 1%;

  display: block;
  /*bottom: 0;*/
  display: none;

  width: 10%;
  /*background: url(../img/icon/black3vachfix.png)no-repeat;*/

  background-size: 80%;
}


/*.formsodienthoaihead>.vach3fix:hover {
    background: url(../img/icon/black3vachfix.png)no-repeat;
    background-size: 100% auto;
    display: block;
    position: absolute;
    left: 1%;
    top: 15%;
    bottom: 0;
    display: none;
}*/

.formsodienthoaihead>form>.sdtinput {
  float: left;
  width: 90%;
  margin: 0 auto;
  padding: 1% 4% 2% 4%;
  color: #cecece;
  border: 0px;
  border-bottom: 1px solid #a1a1a1;
  font-size: 85%;
  /* margin-left: 2% */
}

/* .formsodienthoaihead>form>.btngui {
    width: 9%;
    padding: 2% 0;
    background: url(../img/icon/purplemb.png)no-repeat;
    float: right;
    border: 0px;
    margin-right: 5px;
    background-size: 80%;
} */

/* .formsodienthoaihead>form>.btngui:hover {
    background: url(../img/icon/blackmb.png)no-repeat;
    width: 12%;
    padding: 3% 2%;
    float: right;
    border: 0px;
    background-size: 100%;
} */

/* New from Awesome */

.form-awe button:after {
  display: inline-block;

  margin-top: 3px;
  margin-right: 7px;

  content: "\f1d9";

  /* color:#df53cc  ; */

  font-family: FontAwesome;
  font-size: 30px;
  line-height: 1em;

  /* Rotasi */
  /* -webkit-transform:rotate(30deg); /* Safari dan Chrome */
  /* -moz-transform:rotate(30deg);    /* Firefox */
  /* -ms-transform:rotate(30deg);     /* IE9 */
  /* -o-transform:rotate(30deg);      /* Opera */
  /* transform:rotate(30deg);         /* W3C */
}

.btn-awe {
  float: right;
  border: none;
  background: transparent;
}

/* End from Awesome */

.thuvien {
  margin-top: 5%
}

.thuvien>a {
  position: relative;

  display: block;

  margin-bottom: 2%;
  padding: 2% 5% 2% 18%;

  text-transform: uppercase;

  color:#df53cc  ;
  border-bottom: 1px solid #929294;

  font-size: 110%;
}

.thuvien a span.dmb_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  height: 100%;
  margin: auto;
}

.thuvien a span.dmb_icon img {
  height: 100%
}



/*
    tinh hinh
*/

/*
    bread / phan trang
*/

.m_content {
  background: #fff;
}

.m_content .m_motbenh {
  padding: 2%;

  background: #fff;
}

.breadcrumb_main {
  margin-bottom: 10px
}

.breadcrumb {
  float: left;

  margin-right: 10px;
  padding: 5px 0px;

  font-size: 13px;
}

.breadcrumb>span {
  color: #333;
}

.breadcrumb>a>span {
  color:#df53cc  ;
}

.phantrang {
  text-align: center
}

.phantrang a {
  margin: 0px 4px;
  padding: 3px 7px;

  color: #fff !important;
  /*background:#df53cc  ;*/
  background-color:#df53cc  ;
}

.phantrang span,
.phantrang a:hover {
  margin: 0px 4px;
  padding: 2px 6px;

  color:#df53cc   !important;
  border: 1px solid#df53cc  ;
  background: #fff;
}

/*.phantrang_hinh{
    color: #000 !important;
}*/

.content_chitiet * {
  max-width: 100%
}

/*.m_motbenh h3.title,
.m_motbenh h1 {
    color: #fff;
    background: url("../img/icon_list.png")#df53cc   no-repeat left 5px center;
    padding: 2% 2% 2% 35px;
    margin-bottom: 10px;
    font-size: 120%
}*/

/*.m_motbenh h3 a,
.m_motbenh h1 a {
    color: #fff
}*/

.m_motbenh .hinh_tc {
  float: left;

  width: 24%;
  margin-right: 10px
}

.m_motbenh .content_tc {
  float: right;

  width: 70%;
}

.content_tc p {
  color: black;
  border-top: 1px solid #000;
}

.m_motbenh .listbenh_tc li {
  margin-bottom: 15px;

  border-bottom: 1px solid#df53cc  ;
}

.m_motbenh .listbenh_tc li h4 {
  color:#df53cc
}

.backtotop {
  position: absolute;
  right: 2%;
  bottom: 2%;

  width: 10%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 992px){
  /* .formsodienthoaihead {
    padding: 0 20%;
  } */


}

@media screen and (min-width: 768px) and (max-width: 991px){
  .formsodienthoaihead>form>.sdtinput {
    width: 78%;
    margin-left: 50px;
  }

  .btn-awe {
    float: left;
    margin-left: 10px;
    /* background: black; */
    /* padding-top: 15px; */
    /* padding-bottom: 10px; */
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  * {
    box-sizing: border-box;

    font-size: 15px;
  }

  .truyenthong>h2 {
    position: relative;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #434343;

    font-size: 98%;
  }

  .formsodienthoaihead>form>.sdtinput {
    float: left;

    width: 85%;
    margin: 0 auto;
    padding: 1% 4% 2% 4%;

    color: #cecece;
    border: 0px;
    border-bottom: 1px solid #a1a1a1;

    font-size: 85%;
    /* margin-left: 2% */
  }
}

/* @media (max-width: 428px) and (min-width: 365px) {
  .res-h4 h4{
    font-size: 50%;
  }
} */

@media screen and (max-width: 400px) {
  * {
    box-sizing: border-box;

    font-size: 15px;
  }
  .mot_dmb a.hinh {
    float: none;

    width: 100%;
    margin: auto;
  }
  .mot_dmb .dmb_content {
    float: none;

    width: 100%;
    margin-top: 2%;
  }
  .mot_dmb .dmb_content h3 {
    color: #1d8fcd;

    font-size: 120%
  }
  .mot_dmb .dmb_content p {
    font-size: 90%
  }
  .mot_dmb ul li {
    width: 49%;
    margin-right: 1%;
    margin-bottom: 1%
  }
  .mot_dmb ul li:nth-child(2),
  .mot_dmb ul li:nth-child(4),
  .mot_dmb ul li:nth-child(6) {
    margin-right: 0
  }
  .mot_dmb ul li:nth-child(3) {
    margin-right: 1%
  }
  .mot_dmb ul li a {
    height: 8vw
  }

  .formsodienthoaihead>form>.sdtinput {
    float: left;

    width: 80%;
    margin: 0 auto;
    padding: 1% 4% 2% 4%;

    color: #cecece;
    border: 0px;
    border-bottom: 1px solid #a1a1a1;

    font-size: 85%;
    /* margin-left: 2% */
  }
}

@media screen and (max-width: 350px) {
  * {
    font-size: 14px
  }
  .chuyenkhoa>ul>li>a>p {
    font-size: 95%;
  }

  #brand>a>h1 {
    font-size: 95%;
  }
}

/* @media screen and (max-width: 260px) {
    #brand>a>h1 {

    }
} */

.hidden {
  display: none;
}

.color0cd {
  color:#df53cc
}

.chitietbaiviet-lienquan {
  margin-top: 7%;
  margin-bottom: 1.5%;
  padding: 1px 10%;

  border: 1px dashed gray;
}

.chitietbaiviet-lienquan ul {
  /*list-style-image: url('../img/lienquan.jpg');*/
}

.chitietbaiviet-lienquan ul>li>a {
  color: #000;

  font-size: 85%;
  font-weight: bold;
}

#LRMINIBar {
  bottom: 13% !important;
}

#LR-CIRCLE {
  width: 50px !important;
  height: 50px !important;

  line-height: 50px !important;
}

.LR-BTN {
  width: 50px !important;
  height: 50px !important;
}

#LR-BTN-ICON {
  margin: 10px !important;
}

.float-btool {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;

  width: 100%;
  max-width: 640px;
  height: auto;
}

.float-btool>img {
  float: left;

  width: 100%;
  height: auto;
}

.float-btool ul {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.float-btool ul li.ys2 {
  display: block;
  float: left;

  width: 40%;
  height: 100%;
}

.float-btool ul li.ys3 {
  display: block;
  float: left;

  width: 30%;
  height: 100%;
}

.float-btool ul li {
  display: block;
  float: left;

  width: 30%;
  height: 100%;
}

.float-btool ul li a {
  float: left;

  width: 100%;
  height: 100%;
}

/*From Include,css*/

.fix-scroll {
  position: fixed !important;
  z-index: 10;
  /* width: 50%; */
  top: 0;
  right: 0;
  left: 0px;
  max-width: 650px;
  height: 50px;
  margin: 0 auto;
  border-top: 1px solid#df53cc  ;
  border-bottom: 1px solid#df53cc  ;
  /* background: cyan; */
  /* line-height: 50px !important; */
}

.fix-scroll>.vach3fix {
  display: block !important;
  width: 50px;
  height: 50px;
  margin: -5px 0 0 0;
  padding: 5px 0 0 10px;
  border-top: 1px solid#df53cc  ;
  border-bottom: 1px solid#df53cc  ;
  font-size: 12px;
  float: left;
}

.fix-scroll>form>.sdtinput {
  width: 80%;
  height: 48px;
  margin-left: 11% !important;
  border: 0px !important;
  line-height: 50px;
  float: left;
}

.fix-scroll>form>.btn-awe {
  height: 50px;
  margin: -1px 0 0 0;
  padding: 0 6px 0 3px;
  border-top: 1px solid #df53cc  ;
  border-bottom: 1px solid #df53cc  ;
  float: right;
}

/*From Content*/

.che1 {
  position: fixed;
  z-index: 100 !important;
  top: 0px;

  display: block;

  width: 100%;
  height: 100%;
  padding: 0px;

  opacity: 0.96;
  color: #000;
  background: #000;
}

.lightboxcontainer {
  position: absolute;
  top: 8%;
  right: 0;
  bottom: 8%;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 80%;
  height: 70%;
  margin: auto;
  padding: 3%;

  text-align: center;

  background: url(modules/playyoutube/bg.jpg) rgb(255, 255, 255) no-repeat;
}

.lightboxleft {
  float: left;

  width: 40%;
}

.lightboxright {
  float: left;

  width: 60%;
  height: 70%;
}

.lightboxright iframe {
  height: 100%;
}

.divtext {
  padding: 2% 3%;

  background: rgba(66, 167, 221, 0.8);

  line-height: 22px;
}

.divtext>p.divtitle {
  text-align: center;
  text-transform: uppercase;

  font-size: 95%;
}

.divtext>p {
  text-align: justify;

  color: #fff;
}

.divtext>p.divdescription {
  margin: 0 15px;

  line-height: 22px;
}

.tuvanpoupup {
  position: relative;

  display: block;

  width: 90%;
  margin: 2.5% auto;
  padding: 2% 3%;

  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: #fff;
  background: #42a7dd;

  font-size: 90%;
  font-weight: normal;
}

.hoancauclose {
  position: absolute;
  top: -15px;
  right: -15px;

  width: 32px;
  height: 32px;

  cursor: pointer;

  background: url(modules/playyoutube/hoancau-close.png)no-repeat;
}

@media (max-width: 800px) {
  .lightboxleft {
    width: 100%;
  }
  .lightboxright {
    width: 100%;
  }
  .divtext {
    margin: 12px;
  }

  .res-h4 h4 {
    font-size: 90%;
  }
}

.shock {}

.shock_wrap {
  position: relative;

  display: inline-block
}

.shock_block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  text-align: center;

  color: #fff;
  border: 1px solid #ccc;
  background: #666;
}

.shock_block span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  width: 90%;
  height: 60px;
  margin: auto;
}

.shock_click {
  padding: 2%;

  text-decoration: none;

  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
}

.wrap-pop .frm input[type=submit] {
  position: absolute;
  top: 7%;
  right: 1%;

  width: 22%;
  height: 84%;

  cursor: pointer;

  color: white;
  border: 0px;
  border-radius: 5px;
  background:#df53cc  ;
}

.wrap-pop .popup {
  float: left;

  width: 100%;
}

.wrap-pop {
  font-size: 16px;
}

.wrap-pop .txt3 {
  float: left;

  width: 100%;
  margin: 2% 0;

  text-align: center;
  text-transform: uppercase;

  color: #009CFF;

  font-size: 125%;
}

.wrap-pop .frm input[type=text] {
  padding: 1%
}

.wrap-pop .wrap-btn {
  float: left;

  width: 100%;
  padding-bottom: 5%;
}

.wrap-pop .btn-pop {
  display: flex;

  width: 64%;
  margin: auto;

  text-align: center;

  color: white;
  border-radius: 10px;
  background:#df53cc  ;

  line-height: 27px;
}

.wrap-pop .note {
  float: left;

  width: 80%;
  padding: 1% 2%;

  font-size: 105%;
}

.wrap-pop .btn-pop .icon-phone {
  float: left;

  width: 19%;
  margin-left: 1%;
  padding: 1% 2%;
}

.wrap-pop .frm input {
  box-sizing: border-box;
  width: 100%;
  height: 9vw;
  max-height: 70px;
  padding: 1%;

  border: 1px solid #a6a4a4;
  border-radius: 4px;
  outline: none;
}

.wrap-pop .frm {
  position: relative;

  float: left;

  width: 96%;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;

  text-align: center;
}

.wrap-pop p.txt1,
.wrap-pop p.txt2 {
  float: left;

  width: 100%;
  margin: 1% 0;

  text-align: center;
  text-transform: uppercase;

  color: #169B9C;

  font-weight: bold;
}

.wrap-pop p.txt1 {
  margin-top: 2%;
}

.wrap-pop>.popup>.logopop {
  float: left;

  width: 100%;
  margin-top: 3%;
}

.wrap-pop>.popup>.logopop img {
  display: block;

  width: 75%;
  margin: auto;
}

.vta {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrap-pop {
  width: 70%;
  max-width: 455px;
  margin: auto;
}

.w100 {
  width: 100%;
}

.head-top .col1,
.head-top .col3 {
  position: relative;

  float: left;

  box-sizing: border-box;
  width: 10%;
  height: 100%;
  padding: 1%;
}

.wrap-pop .head-top {
  position: relative;

  float: left;

  width: 100%;
  height: 9.515vw;
  max-height: 50px;

  background:#df53cc  ;

  font-weight: bold;
}

.wrap-pop .head-top .col2 {
  float: left;

  width: 80%;
  height: 100%;

  text-align: center;

  color: white;

  font-size: 130%;
}

.head-top .col1 img,
.head-top .col3 img {
  width: auto;
  height: 85%;
  margin: auto;
}

.wrap-pop {
  position: fixed;
  z-index: 99999999999999999;
  top: 15%;
  right: 0;
  left: 0;

  display: block;

  background: white;
}

.wrap-pop.hidden {
  display: none;
}

.wrap-pop .icp1 {
  position: relative;
  top: 4px
}

.wrap-pop .note {
  color: #fff
}

@media screen and (max-width: 640px) {
  .fix-scroll>form>.btn-awe {
    margin: -1px 0 0 0;
    padding: 0 10px 0 3px;
  }

  .fix-scroll>form>.sdtinput {
    width: 70%;
    height: 48px;
    margin-left: 11% !important;
  }
}

@media screen and (max-width: 603px) {
  .wrap-pop .note {
    font-size: 93%;
  }
  .wrap-pop .btn-pop {
    line-height: 20px
  }
}

@media screen and (max-width: 558px) {
  /* .cady>h4{
    font-size: 18px !important;
    background: yellow;
  } */
}

@media screen and (max-width: 553px) {
  .wrap-pop p.txt1,
  .wrap-pop p.txt2 {
    font-size: 90%
  }
  .wrap-pop .note {
    font-size: 79%;
  }
  .wrap-pop .icp1 {
    position: relative;
    top: 8px
  }
}

@media screen and (max-width: 520px) {
  .wrap-pop p.txt1,
  .wrap-pop p.txt2 {
    font-size: 76%
  }
  .wrap-pop .note {
    font-size: 71%;
  }
  .wrap-pop .btn-pop {
    line-height: 17px
  }
  .wrap-pop .note {
    font-size: 100%
  }
}

@media screen and (max-width: 414px) {
  .wrap-pop .note {
    font-size: 70%;
  }
}

@media screen and (max-width: 400px) {
  .wrap-pop .icp1 {
    position: relative;
    top: 6px
  }
  .wrap-pop {
    font-size: 13px
  }
  .wrap-pop p.txt1,
  .wrap-pop p.txt2 {
    font-size: 62%;
  }
  .wrap-pop .note {
    font-size: 60%
  }
  .wrap-pop .btn-pop {
    line-height: 14px;
  }
  .wrap-pop .txt3 {
    font-size: 100%
  }
}

@media screen and (max-width: 338px) {
  .fix-scroll>.vach3fix {
    width: 50px;
    height: 50px;
    float: left;
  }

  .fix-scroll>form>.sdtinput {
    width: 70%;
    float: left;
  }

  .fix-scroll>form>.btn-awe {
    height: 50px;
    margin: -1px 0 0 0;
    padding: 0 2px 0 3px;
    border-top: 1px solid#df53cc  ;
    border-bottom: 1px solid#df53cc  ;
    float: right;
  }
}

@media screen and (max-width: 320px) {
  .wrap-pop .note {
    font-size: 58%;
  }

  .formsodienthoaihead>form>.sdtinput {
    float: left;

    width: 70%;
    margin: 0 auto;
    padding: 1% 4% 2% 4%;

    color: #cecece;
    border: 0px;
    border-bottom: 1px solid #a1a1a1;

    font-size: 85%;
    /* margin-left: 2% */
  }
}

@media screen and (max-width: 295px) {
  .fix-scroll>.vach3fix {
    width: 50px;
    padding-left: 5px;
  }

  .fix-scroll>form>.sdtinput {
    width: 60%;
    padding-left: 20px;
  }

  .fix-scroll>form>.btn-awe {
    height: 50px;
    margin: -1px -3px 0 0;
    padding: 0 2px 0 3px;
  }
}

@media screen and (max-width: 295px) {
  .w650>div>div {
    height: 35px;
    width: 100%;
  }

  .w650>div>div>div>a {
    font-size: 12px;
    padding-left: -5px;
  }
}

/*------*/

.tbd-phong-a {
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  text-decoration: none;
  color: #2CAAD3;
  /* position: absolute; */
}

.tbd-alo-phone {
  position: fixed;
  z-index: 200 !important;
  top: -10px;
  /* bottom: 1000px; */
  right: 140px;
  /* left: 160px; */
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  /*height: 50px;*/

  cursor: pointer;
  -webkit-transition: visibility .1s;
  -moz-transition: visibility .1s;
  -o-transition: visibility .1s;
  transition: visibility .1s;
  -webkit-transform: translateZ(0);
  /*visibility: hidden;*/

  background-color: transparent;

  -webkit-backface-visibility: hidden;
  /*margin-right: 20%;*/
}

.tbd-alo-ph-circle {
  position: absolute;
  top: 35px;
  left: 35px;

  width: 110px;
  height: 110px;

  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;
  animation: tbd-alo-circle-anim 1.2s infinite ease-in-out;

  opacity: .1;
  opacity: .5;
  border: 2px solid rgba(30, 30, 30, 0.4);
  border: 2px solid #bfebfc 9;
  border-color: #ff0000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: transparent;
}

@-moz-keyframes tbd-alo-circle-anim {
  0% {
    -moz-transform: rotate(0) scale(.5) skew(1deg);

    opacity: .1;

    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1
  }
  30% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .5;

    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);

    opacity: .6;

    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1
  }
}

@-webkit-keyframes tbd-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(.5) skew(1deg);

    -webkit-opacity: .1
  }
  30% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);

    -webkit-opacity: .5
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);

    -webkit-opacity: .1
  }
}

@-o-keyframes tbd-alo-circle-anim {
  0% {
    -o-transform: rotate(0) kscale(.5) skew(1deg);

    -o-opacity: .1
  }
  30% {
    -o-transform: rotate(0) scale(.7) skew(1deg);

    -o-opacity: .5
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);

    -o-opacity: .1
  }
}


.tbd-alo-ph-circle-fill {
  position: absolute;
  top: 50px;
  left: 50px;

  width: 80px;
  height: 80px;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: tbd-alo-circle-fill-anim 2.3s infinite ease-in-out;

  opacity: .1;
  opacity: .75 !important;
  border: 2px solid transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}

@-moz-keyframes tbd-alo-circle-fill-anim {
  0% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .2
  }
  50% {
    -moz-transform: rotate(0) -moz-scale(1) skew(1deg);

    opacity: .2
  }
  100% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .2
  }
}

@-webkit-keyframes tbd-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .2
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);

    opacity: .2
  }
  100% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .2
  }
}

@-o-keyframes tbd-alo-circle-fill-anim {
  0% {
    -o-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .2
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);

    opacity: .2
  }
  100% {
    -o-transform: rotate(0) scale(.7) skew(1deg);

    opacity: .2
  }
}

.tbd-alo-ph-img-circle {
  position: absolute;
  top: 70px;
  left: 70px;

  width: 35px;
  height: 35px;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;
  animation: tbd-alo-circle-img-anim 1s infinite ease-in-out;

  opacity: .7;
  border: 2px solid transparent;
  /*background: rgba(30, 30, 30, 0.1) url("/img/call.png") no-repeat center center;*/
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #ff0000;
}

/* For awesome phone */
.tbd-alo-phone .tbd-alo-ph-img-circle:after {
  display: inline-block;

  margin-top: 3px;
  padding-left: 5px;
  /* margin-right: 7px; */

  content: "\f095";

  color: #fff;

  font-family: FontAwesome;
  font-size: 25px;
  line-height: 1em;
}

.tbd-alo-phone:hover .tbd-alo-ph-circle-fill {
  background-color: rgba(66, 168, 221, 0.5) !important;
}

.tbd-alo-phone:hover .tbd-alo-ph-circle {
  border-color: #42a7dd
}

.tbd-alo-phone:hover .tbd-alo-ph-img-circle {
  background-color: #42a7dd;
}

@-moz-keyframes tbd-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg)
  }
}

@-webkit-keyframes tbd-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
}

@-o-keyframes tbd-alo-circle-img-anim {
  0% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
}


/*New for Footer*/

/*Maps*/

#icon-phone {
  background: url('../img/icon/iphonei.png')no-repeat;
}

#icon-time {
  background: url('../img/icon/24h.png')no-repeat;
}

#icon-way {
  background: url('../img/icon/ichome.png')no-repeat;
}

/*span in footer*/

#icon-close {
  cursor: pointer;

  border: 0;
  background: url('../img/etc/close.png')no-repeat;
}

#icon-da1 {
  cursor: pointer;

  border: 0;
  background: url('../img/etc/da1.png')no-repeat;
}

#icon-da {
  cursor: pointer;

  border: 0;
  background: url('../img/etc/da.png')no-repeat;
}

#icon-jiantou {
  cursor: pointer;

  border: 0;
  background: url('../img/etc/jiantou.png')no-repeat;
}

#LR_miniframe {}

/*From Penyakit/*/

.content_chitiet {
  box-sizing: border-box;
  padding: 0px 10px;

  line-height: 30px;
}

.content_chitiet p em {
  font-style: normal !important;
}

.content_chitiet table {
  width: 100% !important
}

.content_chitiet table td {
  padding: 10px
}

.content_chitiet p {
  display: block;
  clear: both;

  max-width: 100%;
  margin: 10px 0px;

  text-align: justify;
  white-space: pre-line;
  word-spacing: 2px;

  line-height: 30px;
}

.content_chitiet img {
  max-width: 100% !important;
  height: auto !important;
  margin: auto;
}

.content_chitiet h2 {
  padding: 5px 0px;
  padding-left: 25px;

  color: #0175b2;
  border-bottom: 1px solid #0175b2;
  background: url("img/dieutri.png") no-repeat left center;

  font-size: 14px;
}

.content_chitiet a {
  color: red
}

.content_chitiet li {
  margin-left: 10px;

  list-style: none;
}

.chuthich {
  font-size: 14px
}

.content_chitiet .khungxanh {
  width: 90%;
  margin: auto;
  padding: 2%;

  border: 2px solid #417394;
  border-radius: 5px;
  background: #f2f6f8;
}

.content_chitiet .khungxanh img {
  max-width: 100%
}

.content_chitiet .khungtuvan {
  width: 95%;
  margin: auto;
  padding: 5px 10px 10px;

  border: 2px solid #417394;
  background-color: #e3f8f5;
}

.content_chitiet .khungxanhla {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;

  text-align: justify;

  color: rgb(0, 0, 0);
  border: 1px dashed rgb(0, 166, 126);
  background: rgb(241, 252, 247);

  font-size: 14px;
  line-height: 25px;
}

.content_chitiet p.em {
  font-style: italic;
}

.content_chitiet img.imgcenter {
  display: block;

  width: 80%;
  max-width: 500px;
  margin: 1% auto;
}

.content_chitiet p.center {
  text-align: center;
}

color008 {
  color: #008080
}

.color006 {
  color: #006400
}

.colorff0 {
  color: #FF0000
}

.color2f4 {
  color: #2F4F4F;
}

.color4b0 {
  color: #4B0082
}

.content_chitiet .em {
  font-style: italic;
}

.content_chitiet .u {
  text-decoration: underline;
}

.btn_tuvan_noidung {
  display: block;
  clear: both;

  width: 80%;
  margin: 0 auto;
}

.btn_tuvan_noidung2 {
  display: block;
  clear: both;

  width: 50%;
  margin: 5% auto !important;
}

.content_chitiet .khungtuvan {
  width: 94%;
  margin: auto;
  padding: 5px 10px 10px;

  border: 2px solid #01afee;
  background-color: rgba(204, 255, 204, 0.2);
}

@-webkit-keyframes hvr-ripple-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;

    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;

    opacity: 0;
  }
}

.hvr-ripple-out {
  position: relative;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: middle;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-ripple-out:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  border: #01afee solid 2px;
}

.hvr-ripple-out:before,
.hvr-ripple-out:before,
.hvr-ripple-out:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.khung-text {
  position: relative;
  top: 0px;

  margin: 0px;
  padding: 10px;

  text-align: justify;
  vertical-align: baseline;

  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 100, 0);
  border-radius: 5px;
  outline: 0px;
  background: none rgb(242, 246, 248);
  box-shadow: none !important;

  font-family: Arial;
  font-size: 14px;
  font-stretch: normal;
}

div.line_top {
  padding-bottom: 10px;

  border-top: 1px solid #0175b2;
}


/*New*/

.curs {
  height: 100px;
}

.curs>h4 {
  line-height: 100px;
}

/* New for pink color */
.pinked {
  background: #fdd2ee;
}

.pinked-text {
  color: #fdd2ee;
}

.pinked-strong {
  background: #ee22d3;
}

.pinked-strong-text {
  color: #ee22d3;
}

.pinked-low {
  background: #df53cc;
}

.pinked-low-text {
  color: #df53cc;
}
